body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007bff;
    color: white;
    padding: 2em;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 2em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffc107;
}

main {
    padding: 2em;
}

section {
    background-color: #fff;
    margin-bottom: 2em;
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #333;
}

p {
    margin-bottom: 1em;
    color: #666;
}

form {
    margin-top: 2em;
}

label {
    display: block;
    margin-bottom: 0.5em;
    color: #333;
}

input[type="number"] {
    width: calc(100% - 2em);
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-sizing: border-box;
    margin-bottom: 0.5em;
}

button {
    padding: 1em 2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.navigation {
    margin-top: 2em;
    text-align: center;
}

.navigation .btn {
    padding: 1em 2em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navigation .btn:hover {
    background-color: #0056b3;
}
